body {
    background-color: #80d4ea;
}
#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px
        
}
#day {
    height: 100px; 
    margin: auto;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
}
#date {
    height: 75px; 
    margin: auto;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 75px;
}